<!DOCTYPE html>
<html>
  <head>
    <title>Taski</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= image_tag('MyLingua_icon.png', width: '100px') %>
  <%= render 'shared/nav' %>


  <body>
    <%= yield %>
  </body>
</html>
